


# **Aprendizado de Máquina Supervisionado**

https://www.kaggle.com/competitions/titanic/data

## Setup

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/UP/train.csv',
                    sep=',', encoding='iso-8859-1')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Limpeza de dados

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df['Sex'].replace({'female': 0, 'male': 1}, inplace=True)

In [ ]:
df.head()

    Pclass  Sex   Age  SibSp  Parch
1        1    0  38.0      1      0
3        1    0  35.0      1      0
6        1    1  54.0      0      0
10       3    0   4.0      1      1
11       1    0  58.0      0      0

In [ ]:
df['Age'].unique()

array(['38.0', '35.0', '54.0', '4.0', '58.0', '34.0', '28.0', '19.0',
       '49.0', '65.0', '45.0', '29.0', '25.0', '23.0', '46.0', '71.0',
       '21.0', '47.0', '24.0', '32.5', '37.0', '36.5', '22.0', '61.0',
       '56.0', '50.0', '1.0', '3.0', '44.0', '2.0', '40.0', '31.0',
       '32.0', '62.0', '30.0', '52.0', '63.0', '36.0', '17.0', '18.0',
       '16.0', '45.5', '41.0', '60.0', '27.0', '33.0', '14.0', '64.0',
       '48.0', '55.0', '39.0', '53.0', '42.0', '80.0', '15.0', '70.0',
       '6.0', '51.0', '57.0', '43.0', '11.0', '26.0'], dtype=object)

In [ ]:
df['Age'] = df['Age'].map(str)
df['Age'].replace({'0.92' : '1', '$.5' : '', '.0' : ''})

1      38.0
3      35.0
6      54.0
10      4.0
11     58.0
       ...
871    47.0
872    33.0
879    56.0
887    19.0
889    26.0
Name: Age, Length: 183, dtype: object

In [ ]:
df = df.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin', 'Embarked', 'Fare'])
df.head()

    Pclass  Sex   Age  SibSp  Parch
1        1    0  38.0      1      0
3        1    0  35.0      1      0
6        1    1  54.0      0      0
10       3    0   4.0      1      1
11       1    0  58.0      0      0

In [ ]:
df.shape

(183, 5)

In [ ]:
previsores = df.iloc[:, 0:4].values

In [ ]:
previsores

array([[ 1.  ,  0.  , 38.  ,  1.  ],
       [ 1.  ,  0.  , 35.  ,  1.  ],
       [ 1.  ,  1.  , 54.  ,  0.  ],
       [ 3.  ,  0.  ,  4.  ,  1.  ],
       [ 1.  ,  0.  , 58.  ,  0.  ],
       [ 2.  ,  1.  , 34.  ,  0.  ],
       [ 1.  ,  1.  , 28.  ,  0.  ],
       [ 1.  ,  1.  , 19.  ,  3.  ],
       [ 1.  ,  0.  , 49.  ,  1.  ],
       [ 1.  ,  1.  , 65.  ,  0.  ],
       [ 1.  ,  1.  , 45.  ,  1.  ],
       [ 2.  ,  0.  , 29.  ,  0.  ],
       [ 3.  ,  1.  , 25.  ,  0.  ],
       [ 1.  ,  0.  , 23.  ,  3.  ],
       [ 1.  ,  1.  , 46.  ,  1.  ],
       [ 1.  ,  1.  , 71.  ,  0.  ],
       [ 1.  ,  1.  , 23.  ,  0.  ],
       [ 1.  ,  1.  , 21.  ,  0.  ],
       [ 1.  ,  1.  , 47.  ,  0.  ],
       [ 1.  ,  1.  , 24.  ,  0.  ],
       [ 2.  ,  0.  , 32.5 ,  0.  ],
       [ 1.  ,  1.  , 54.  ,  0.  ],
       [ 1.  ,  0.  , 19.  ,  0.  ],
       [ 1.  ,  1.  , 37.  ,  1.  ],
       [ 1.  ,  1.  , 24.  ,  0.  ],
       [ 2.  ,  1.  , 36.5 ,  0.  ],
       [ 1.  ,  0.  , 22.  ,  1.  ],
       [ 1.  ,  1.  , 61.  ,  0.  ],
       [ 1.  ,  1.  , 56.  ,  0.  ],
       [ 1.  ,  0.  , 50.  ,  0.  ],
       [ 2.  ,  1.  ,  1.  ,  2.  ],
       [ 2.  ,  1.  ,  3.  ,  1.  ],
       [ 1.  ,  0.  , 44.  ,  0.  ],
       [ 1.  ,  0.  , 58.  ,  0.  ],
       [ 3.  ,  0.  ,  2.  ,  0.  ],
       [ 1.  ,  1.  , 40.  ,  0.  ],
       [ 1.  ,  0.  , 31.  ,  1.  ],
       [ 1.  ,  0.  , 32.  ,  0.  ],
       [ 1.  ,  1.  , 38.  ,  1.  ],
       [ 1.  ,  0.  , 35.  ,  1.  ],
       [ 1.  ,  1.  , 44.  ,  2.  ],
       [ 1.  ,  1.  , 37.  ,  1.  ],
       [ 3.  ,  0.  , 29.  ,  1.  ],
       [ 1.  ,  1.  , 62.  ,  0.  ],
       [ 1.  ,  0.  , 30.  ,  0.  ],
       [ 1.  ,  1.  , 52.  ,  1.  ],
       [ 1.  ,  1.  , 40.  ,  0.  ],
       [ 1.  ,  0.  , 58.  ,  0.  ],
       [ 1.  ,  0.  , 35.  ,  0.  ],
       [ 1.  ,  1.  , 37.  ,  0.  ],
       [ 1.  ,  0.  , 63.  ,  1.  ],
       [ 1.  ,  0.  , 19.  ,  1.  ],
       [ 2.  ,  1.  , 36.  ,  0.  ],
       [ 1.  ,  0.  ,  2.  ,  1.  ],
       [ 1.  ,  0.  , 50.  ,  0.  ],
       [ 1.  ,  1.  ,  0.92,  1.  ],
       [ 1.  ,  0.  , 17.  ,  1.  ],
       [ 1.  ,  0.  , 30.  ,  0.  ],
       [ 1.  ,  0.  , 24.  ,  0.  ],
       [ 1.  ,  0.  , 18.  ,  2.  ],
       [ 1.  ,  0.  , 31.  ,  0.  ],
       [ 1.  ,  0.  , 40.  ,  1.  ],
       [ 1.  ,  0.  , 36.  ,  0.  ],
       [ 2.  ,  0.  , 36.  ,  0.  ],
       [ 1.  ,  0.  , 16.  ,  0.  ],
       [ 1.  ,  1.  , 45.5 ,  0.  ],
       [ 1.  ,  1.  , 38.  ,  0.  ],
       [ 1.  ,  1.  , 29.  ,  1.  ],
       [ 1.  ,  0.  , 41.  ,  0.  ],
       [ 1.  ,  1.  , 45.  ,  0.  ],
       [ 2.  ,  1.  ,  2.  ,  1.  ],
       [ 1.  ,  0.  , 24.  ,  3.  ],
       [ 2.  ,  0.  , 24.  ,  0.  ],
       [ 1.  ,  0.  , 22.  ,  0.  ],
       [ 1.  ,  0.  , 60.  ,  1.  ],
       [ 1.  ,  0.  , 24.  ,  0.  ],
       [ 1.  ,  1.  , 25.  ,  1.  ],
       [ 1.  ,  1.  , 27.  ,  0.  ],
       [ 1.  ,  1.  , 36.  ,  1.  ],
       [ 1.  ,  0.  , 23.  ,  1.  ],
       [ 3.  ,  0.  , 24.  ,  0.  ],
       [ 1.  ,  0.  , 33.  ,  1.  ],
       [ 3.  ,  1.  , 32.  ,  0.  ],
       [ 1.  ,  1.  , 28.  ,  0.  ],
       [ 1.  ,  1.  , 50.  ,  1.  ],
       [ 1.  ,  0.  , 14.  ,  1.  ],
       [ 1.  ,  1.  , 64.  ,  1.  ],
       [ 1.  ,  1.  ,  4.  ,  0.  ],
       [ 1.  ,  1.  , 52.  ,  0.  ],
       [ 1.  ,  1.  , 30.  ,  0.  ],
       [ 1.  ,  1.  , 49.  ,  1.  ],
       [ 1.  ,  1.  , 65.  ,  0.  ],
       [ 1.  ,  1.  , 48.  ,  0.  ],
       [ 1.  ,  1.  , 47.  ,  0.  ],
       [ 2.  ,  0.  , 23.  ,  0.  ],
       [ 1.  ,  1.  , 25.  ,  1.  ],
       [ 1.  ,  0.  , 35.  ,  1.  ],
       [ 1.  ,  1.  , 58.  ,  0.  ],
       [ 1.  ,  1.  , 55.  ,  0.  ],
       [ 1.  ,  0.  , 54.  ,  1.  ],
       [ 1.  ,  0.  , 25.  ,  1.  ],
       [ 1.  ,  0.  , 16.  ,  0.  ],
       [ 1.  ,  1.  , 18.  ,  1.  ],
       [ 1.  ,  1.  , 36.  ,  0.  ],
       [ 1.  ,  1.  , 47.  ,  0.  ],
       [ 2.  ,  0.  , 34.  ,  0.  ],
       [ 1.  ,  0.  , 30.  ,  0.  ],
       [ 1.  ,  0.  , 44.  ,  0.  ],
       [ 1.  ,  1.  , 45.  ,  0.  ],
       [ 1.  ,  0.  , 22.  ,  0.  ],
       [ 1.  ,  0.  , 36.  ,  0.  ],
       [ 1.  ,  1.  , 50.  ,  1.  ],
       [ 1.  ,  1.  , 17.  ,  0.  ],
       [ 1.  ,  0.  , 48.  ,  1.  ],
       [ 1.  ,  0.  , 39.  ,  1.  ],
       [ 1.  ,  0.  , 53.  ,  2.  ],
       [ 1.  ,  1.  , 36.  ,  0.  ],
       [ 1.  ,  0.  , 39.  ,  1.  ],
       [ 1.  ,  0.  , 39.  ,  1.  ],
       [ 1.  ,  1.  , 36.  ,  0.  ],
       [ 1.  ,  0.  , 18.  ,  0.  ],
       [ 1.  ,  1.  , 60.  ,  1.  ],
       [ 1.  ,  0.  , 52.  ,  1.  ],
       [ 1.  ,  1.  , 49.  ,  1.  ],
       [ 1.  ,  0.  , 40.  ,  0.  ],
       [ 2.  ,  0.  ,  4.  ,  2.  ],
       [ 1.  ,  1.  , 42.  ,  1.  ],
       [ 1.  ,  1.  , 61.  ,  0.  ],
       [ 1.  ,  0.  , 21.  ,  0.  ],
       [ 1.  ,  1.  , 80.  ,  0.  ],
       [ 1.  ,  1.  , 32.  ,  0.  ],
       [ 1.  ,  0.  , 24.  ,  0.  ],
       [ 1.  ,  1.  , 48.  ,  1.  ],
       [ 1.  ,  1.  , 56.  ,  0.  ],
       [ 1.  ,  1.  , 58.  ,  0.  ],
       [ 1.  ,  1.  , 47.  ,  0.  ],
       [ 1.  ,  1.  , 31.  ,  1.  ],
       [ 1.  ,  1.  , 36.  ,  0.  ],
       [ 1.  ,  1.  , 27.  ,  0.  ],
       [ 1.  ,  0.  , 15.  ,  0.  ],
       [ 1.  ,  1.  , 31.  ,  1.  ],
       [ 1.  ,  1.  , 49.  ,  1.  ],
       [ 3.  ,  1.  , 42.  ,  0.  ],
       [ 1.  ,  0.  , 18.  ,  1.  ],
       [ 1.  ,  1.  , 35.  ,  0.  ],
       [ 1.  ,  1.  , 42.  ,  0.  ],
       [ 1.  ,  0.  , 24.  ,  0.  ],
       [ 1.  ,  1.  , 48.  ,  1.  ],
       [ 3.  ,  1.  , 19.  ,  0.  ],
       [ 1.  ,  0.  , 38.  ,  0.  ],
       [ 2.  ,  0.  , 27.  ,  0.  ],
       [ 1.  ,  1.  , 27.  ,  1.  ],
       [ 1.  ,  0.  , 29.  ,  0.  ],
       [ 1.  ,  1.  , 35.  ,  0.  ],
       [ 1.  ,  1.  , 36.  ,  1.  ],
       [ 1.  ,  0.  , 21.  ,  2.  ],
       [ 1.  ,  1.  , 70.  ,  1.  ],
       [ 1.  ,  1.  , 19.  ,  1.  ],
       [ 3.  ,  1.  ,  6.  ,  0.  ],
       [ 1.  ,  0.  , 33.  ,  0.  ],
       [ 1.  ,  0.  , 36.  ,  1.  ],
       [ 1.  ,  0.  , 51.  ,  1.  ],
       [ 2.  ,  0.  , 57.  ,  0.  ],
       [ 1.  ,  0.  , 43.  ,  0.  ],
       [ 1.  ,  0.  , 17.  ,  1.  ],
       [ 1.  ,  1.  , 29.  ,  0.  ],
       [ 1.  ,  1.  , 46.  ,  0.  ],
       [ 1.  ,  0.  , 49.  ,  0.  ],
       [ 1.  ,  1.  , 11.  ,  1.  ],
       [ 1.  ,  1.  , 39.  ,  0.  ],
       [ 1.  ,  0.  , 33.  ,  1.  ],
       [ 1.  ,  0.  , 52.  ,  1.  ],
       [ 3.  ,  0.  , 27.  ,  0.  ],
       [ 1.  ,  0.  , 39.  ,  1.  ],
       [ 1.  ,  0.  , 16.  ,  0.  ],
       [ 1.  ,  1.  , 51.  ,  0.  ],
       [ 1.  ,  0.  , 48.  ,  0.  ],
       [ 1.  ,  1.  , 31.  ,  0.  ],
       [ 1.  ,  0.  , 47.  ,  1.  ],
       [ 1.  ,  1.  , 33.  ,  0.  ],
       [ 1.  ,  0.  , 56.  ,  0.  ],
       [ 1.  ,  0.  , 19.  ,  0.  ],
       [ 1.  ,  1.  , 26.  ,  0.  ]])

In [ ]:
previsores.shape

(183, 5)

In [ ]:
alvo = df.iloc[:, 4].values

In [ ]:
alvo

array([0, 0, 0, 1, 0, 0, 0, 2, 0, 1, 0, 0, 0, 2, 0, 0, 1, 1, 0, 1, 0, 1,
       2, 0, 0, 2, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 2, 1, 2, 0, 0, 0, 2, 2, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 2, 4, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 2,
       2, 0, 2, 0, 1, 0, 0, 0, 1, 0, 2, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 1, 0, 1, 0, 2, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0])

# **ÁRVORE DE DECISÃO**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree